extends layout

block content
  h1= title
  p Welcome to #{title}
  button#btn.cl click here
  div#odivid
    a('href=https://www.baidu.com') 百度
  div
  div#nameid
    p <h2>jdjdjdj</h2>
    div.nameclass
        p#nameidp.pclass
        h2 cccc
  div
  block scripts
  script(src='javascripts/common.js')



